In [68]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\mahak\anaconda3\lib\site-packages (1.26.4)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mahak\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mahak\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [70]:
import numpy as np

In [7]:
df =pd.read_csv("covid_toy.csv")

In [9]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [11]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [13]:
#if we use dropna then it will delete the rows and size of df will also affect.to avoid this we will fill NaN values.

In [17]:
from sklearn.impute import SimpleImputer

In [19]:
si = SimpleImputer(strategy = "mean")

In [21]:
df['fever'] = si.fit_transform(df[['fever']])

In [23]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [25]:
df.shape

(100, 6)

In [27]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [29]:
df2=df.copy()

In [33]:
df2.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [37]:
df2['gender'] = df['gender'].map({"Male":1 , "Female":0})

In [39]:
df2.sample(3)

    age  gender  fever   cough       city has_covid
71   75       0  104.0  Strong      Delhi        No
45   72       1   99.0    Mild  Bangalore        No
18   64       0   98.0    Mild  Bangalore       Yes

In [41]:
df2['cough'] = df['cough'].map({"Mild":0 , "Strong":1})
df2['city'] = df['city'].map({"Kolkata":0, "Bangalore":1,"Delhi":2,"Mumbai":3})
df2['has_covid'] = df['has_covid'].map({"Yes":1 , "No":0})

In [49]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

df2.head(3)

In [52]:
df2.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0

In [54]:
x=df2.drop(columns = ['has_covid'])  #input data

In [56]:
y=df2['has_covid']  #target data

In [58]:
x

    age  gender  fever  cough  city
0    60       1  103.0      0     0
1    27       1  100.0      0     2
2    42       1  101.0      0     2
3    31       0   98.0      0     0
4    65       0  101.0      0     3
..  ...     ...    ...    ...   ...
95   12       0  104.0      0     1
96   51       0  101.0      1     0
97   20       0  101.0      0     1
98    5       0   98.0      1     3
99   10       0   98.0      1     0

[100 rows x 5 columns]

In [60]:
y

0     0
1     1
2     0
3     0
4     0
     ..
95    0
96    1
97    0
98    0
99    1
Name: has_covid, Length: 100, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split

In [64]:
x_train , x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [72]:
np.round(x_train.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   42.9     0.4  101.0    0.4   1.3
std    24.5     0.5    1.9    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0  100.0    0.0   0.0
50%    42.0     0.0  101.0    0.0   1.0
75%    65.0     1.0  102.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [74]:
from sklearn.preprocessing import StandardScaler

# standard scaler 
# The StandardScaler is a tool in Python (from the sklearn library) used to standardize numerical data. It transforms data so that:

# Mean = 0
# Standard Deviation = 1

In [76]:
sc = StandardScaler()

In [82]:
x_train_sc = sc.fit_transform(x_train)  #fit means learn the parametr and transform means apply it on data.

In [84]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [86]:
np.round(x_train_new.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   -0.0     0.0   -0.0   -0.0   0.0
std     1.0     1.0    1.0    1.0   1.0
min    -1.6    -0.8   -1.6   -0.8  -1.2
25%    -0.9    -0.8   -0.5   -0.8  -1.2
50%    -0.0    -0.8    0.0   -0.8  -0.2
75%     0.9     1.2    0.5    1.2   0.7
max     1.7     1.2    1.6    1.2   1.6

In [88]:
np.round(x_train.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   42.9     0.4  101.0    0.4   1.3
std    24.5     0.5    1.9    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0  100.0    0.0   0.0
50%    42.0     0.0  101.0    0.0   1.0
75%    65.0     1.0  102.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [90]:
from sklearn.preprocessing import MinMaxScaler

In [92]:
mn = MinMaxScaler()

In [94]:
x_train_mn = mn.fit_transform(x_train)

In [96]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [100]:
np.round(x_train_new.describe() , 2)   #2 is point k baad kitne value chahiye

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [115]:
import seaborn as sns

In [139]:
import matplotlib.pyplot as plt

In [151]:
df=pd.read_csv("tip.csv")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [153]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [155]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [161]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [163]:
df['sex'] = df['sex'].map({"Male":1,"Female":0})
df['smoker'] = df['smoker'].map({"No":1,"Yes":0})
df['day'] = df['day'].map({"Sun":1,"Sat":0,"Thur":2,"Fri":3})
df['time'] = df['time'].map({"Dinner":1,"Lunch":0})

In [165]:
x=df.drop(columns = ['total_bill'])  #input data
y=df['total_bill']

In [167]:
x_train , x_test ,y_tarin ,y_test = train_test_split(x,y,test_size = 0.2 , random_state =42)

In [169]:
from sklearn.preprocessing import StandardScaler

In [171]:
sc = StandardScaler()

In [173]:
x_train_sc = sc.fit_transform(x_train)

x_train_new = pd.DataFrame(x_train_sc ,columns = x_train.columns)

In [179]:
np.round(x_train_new.describe() , 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00   -0.00   -0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -1.37   -1.26   -1.09   -1.64   -1.68
25%     -0.76   -1.37   -1.26   -1.09   -1.64   -0.61
50%     -0.06    0.73    0.79   -0.06    0.61   -0.61
75%      0.43    0.73    0.79    0.97    0.61    0.45
max      4.85    0.73    0.79    2.00    0.61    3.65