In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\mahak\anaconda3\lib\site-packages (1.26.4)

In [3]:
import numpy as np

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mahak\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mahak\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mahak\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

# Data Dividation

In [ ]:
'''
We use data splitting (like train_test_split) to divide the dataset into training and testing sets because:

Train the Model: The training set is used to teach the model patterns in the data.
Test the Model: The testing set evaluates how well the model performs on unseen data.
This ensures the model is not overfitting and can generalize to new, real-world data.
'''


# Overfitting:
# happens when a model learns the training data too well, including its noise and random patterns.

# As a result, the model performs well on the training data but fails on new, unseen data because it lacks generalization.

In [13]:
#DATA Dividation

'''
Class----> x(input) + y(targetdata)
x(input) ----> x_train + x_test
y(target) ---->y_train + y_test

machine(x_train,y_train) ---> machine(x_test)---->output ????Prediction(y_pred)
actual_Data(y_test)

df=2+2 =4
3+2=5
5+3=8

x(2+2, 3+2 ,5+3)
y(4,5,8)

x_train(2+2,3+2)
y_train(4,5)
machine(x_train,y_train)
machine ---> predict(9)
but actual_output=8 ....in this we check performance of machine
'''

'\nClass----> x(input) + y(targetdata)\nx(input) ----> x_train + x_test\ny(target) ---->y_train + y_test\n\nmachine(x_train,y_train) ---> machine(x_test)---->output ????Prediction(y_pred)\nactual_Data(y_test)\n\ndf=2+2 =4\n3+2=5\n5+3=8\n\nx(2+2, 3+2 ,5+3)\ny(4,5,8)\n\nx_train(2+2,3+2)\ny_train(4,5)\nmachine(x_train,y_train)\nmachine ---> predict(9)\nbut actual_output=8 ....in this we check performance of machine\n'

In [15]:
df = pd.read_csv("placement.csv")
df

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [17]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [19]:
df.shape

(100, 3)

In [21]:
x=df.drop(columns=['placed']) ##input columns
#x

In [23]:
y = df['placed']   ##target column
#y

In [25]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test, y_train, y_test = train_test_split(x,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 42)

In [37]:
print("total dataframe shape:",df.shape)
print("Input data shape:",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("--------------------------------")
print("y data shape",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total dataframe shape: (100, 3)
Input data shape: (100, 2)
x_train data shape: (80, 2)
x_test data shape: (20, 2)
--------------------------------
y data shape (100,)
y_train data shape: (80,)
y_test data shape: (20,)

In [39]:
#df(100,3) = x(100,2) + y(100,1)
#x(100,2) = x_train(80,2) + x_test(20,2)
#(100,1) = y_train(80,1) + y_test(20,1)

In [41]:
df = pd.read_csv("covid_toy.csv")

In [43]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [45]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [47]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [49]:
df=df.dropna()

In [51]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [55]:
df.shape

(90, 6)

In [57]:
from sklearn.model_selection import train_test_split

In [59]:
x=df.drop(columns=['has_covid']) ##input columns
#x

In [71]:
y=df['has_covid']
y.shape

(90,)

In [73]:
from sklearn.model_selection import train_test_split

In [75]:
x_train,x_test, y_train, y_test = train_test_split(x,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 42)

In [77]:
print("total dataframe shape:",df.shape)
print("Input data shape:",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("--------------------------------")
print("y data shape",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total dataframe shape: (90, 6)
Input data shape: (90, 5)
x_train data shape: (72, 5)
x_test data shape: (18, 5)
--------------------------------
y data shape (90,)
y_train data shape: (72,)
y_test data shape: (18,)

In [79]:
df =pd.read_csv("titanic.csv")

In [81]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [83]:
df.shape

(418, 12)

In [85]:
x=df.drop(columns=['Survived'])
x.shape

(418, 11)

In [87]:
y=df['Survived']
y.shape

(418,)

In [89]:
from sklearn.model_selection import train_test_split

In [91]:
x_train,x_test, y_train, y_test = train_test_split(x,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 42)

In [93]:
print("total dataframe shape:",df.shape)
print("Input data shape:",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("--------------------------------")
print("y data shape",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

total dataframe shape: (418, 12)
Input data shape: (418, 11)
x_train data shape: (334, 11)
x_test data shape: (84, 11)
--------------------------------
y data shape (418,)
y_train data shape: (334,)
y_test data shape: (84,)